.square {
  width: 100%;
  height: 100%;
  text-align: center;
}

.square-white {
  background: #fff;
  color: #000;
}

.square-black {
  background: #000;
  color: #fff;
}

.Knight {
  font-size: 59px;
}
